# App
BASE_URL=http://localhost:8080
DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/appdb
FLASK_ENV=development

# Postgres (для контейнера db)
POSTGRES_DB=appdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password